{% extends 'base.html' %}
{% load static %}
{% block title %}Single{% endblock title %}

{% block body %}
<!-- Preloader  -->
<div id="loader" class="preloader">
  <div class="loading">
    <div class="profile-image">
      <img src="{% static 'resumeapp/images/profile-loader.jpg' %}" alt="">
      <svg style="position: absolute;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="none">
        <circle class="js-circle circle" cx="50" cy="50" r="48" stroke="white" stroke-width="2" fill="none"  />
        <circle class="js-circle circletwo" cx="50" cy="50" r="48" stroke="white" stroke-width="2" fill="none"  />
      </svg>
    </div>
  </div>
</div>
<!-- Preloader End --> 


<div class="page-cover">
  <div id="page-scroll">
    <div class="barba-wrapper" data-barba="wrapper">
      <main data-barba="container">
    <!-- Page Wrapper -->
    <div class="container">
      <div class="page-wrapper">

        <header id="fixed">
          <div class="hamburger hamburger--elastic">
            <span class="hamburger-box"> <span class="hamburger-inner"></span> </span>
          </div>
          <nav>
            <ul>
              <li><a class="active" href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'resume' %}">Resume</a></li>
              <li><a href="{% url 'all-works' %}">Portfolio</a></li>
              <li><a href="{% url 'blog-list' %}">Blog</a></li>
            </ul>
          </nav>
        </header>
        <!-- ARTICLE BLOG
        ================================================== --> 
        <div class="single-blog">
          <!-- Page Caption -->
          <div class="single-post-metas">
            <div class="blog-date"> {{post.date}}</div>

          </div>
          <div class="single-post-title">
              <h1 class="big-title">{{post.title}}</h1>
          </div>
          <div class="spacer-45"></div>
          <!-- Image -->
          <div class="about-image clip-animation"  data-delay="1" data-duration="2">
            <img src=" {{post.image.url}} " alt="">
          </div>
          <div class="spacer-45"></div>
          <!-- Article Text -->
          <div class="blog-entry scale-animation" data-delay="1" data-duration="2">
            <p> {{post.content}} </p>
          </div>
        </div>
          
        <!-- tags -->
        <div class="col-xl-12 scale-animation">
          <div class="tags">
            <i class="fas fa-tag"></i>
            {% for tag in tagss %}
            <ul>
              <li><a href="#" data-cursor-type="big">{{tag.caption}}</a></li>
            </ul>
            {% endfor %}
          </div>
        </div>
        <h2>Comments...</h2>
        {% if not post.comments.all %}
        No Comments Yet...<a href = "#">Add One</a>
        {% else %}
        {% for comment in post.comments.all %}
        <strong>
          {{comment.name}} -
          {{comment.dated_added}}
        </strong>
        <br>
        {{comment.message}}
        {% endfor %}
      {% endif %}

        <div class="spacer-60"></div>
        <!-- form -->
        <div id="contact-formular" class="col-xl-8 scale-animation">
          <h5 class="underline-title">Leave a message</h5>
          <div class="spacer-30"></div>
          <form method="post" name="contactform" id="contactform" class="row" autocomplete="off">
            <!-- name -->
            <div class="col-xl-12">
              <input type="text" style="display:none" />
              <input class="inp" name="name" type="text" placeholder="Name" id="name" >
            </div>
            <!-- email -->
            <div class="col-xl-6">
              <input class="inp" name="email" type="text"  placeholder="Email" id="email"  >
          </div>
            <!-- about project -->
            <div class="col-xl-12">
                <textarea class="inp" name="comments" id="comments" rows="3" placeholder="Message"></textarea>
            </div>
            <!-- button -->
            <div class="form-btn col-xl-12" >
              <input class="site-btn" type="submit" value="Send">
            </div>
          </form>
        </div>
      </div> <!-- page wrapper end -->
    </div><!-- container -->
{% endblock body %}
